*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  scroll-behavior: smooth;
  font-family: 'Montserrat';
}

a{
  text-decoration:none;
  color:gold;
}

.minimal-piechart {
  margin:0;
  width:30%;

}

/* .labels{
  display:flex;
  flex-direction: column;
} */

.pie-label-1{
  display:block; 
  position:absolute;
  left:800px;

}
.pie-label-2{
  /* display: block;
  position:absolute;
  left:815px; */
  /* bottom:80px; */
}
.dateStack
{
  width:max-content;
  font-size:14px;
}