*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  scroll-behavior: smooth;
  font-family: 'Montserrat';
}

a{
  text-decoration:none;
  color:gold;
}

.minimal-piechart {
  margin:0;
  width:30%;

}


.pie-label-stack{
  display:block; 
  position:absolute;
  left:810px;

}

.dateStack
{
  width:max-content;
  font-size:14px;
}