*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  scroll-behavior: smooth;
  font-family: 'Montserrat';
}

a{
  text-decoration:none;
  color:gold;
}
.minimal-piechart > svg {
  display:block; 
  position:absolute;
  left:700px;
  overflow: hidden;
  width:30% !important ;

   /* width:fit-content; */
 
}
.pie-label-1{
  display:block; 
  position:absolute;
  left:856px;

}
.pie-label-2{
  display: block;
  position:absolute;
  left:853px;
  /* bottom:80px; */
}
